<h1>Picture Details</h1>

<a href="http://localhost:3000/delete_picture/<%= params[:id] %>">Delete this picture</a>

<div>
  <img src="<%= @picture_details.source %>" >
</div>

<div>
  <p> <%= @picture_details.caption %> </p>
</div>
